* {
  padding: 0;
  margin: 0;
  font-family: courier, sans-serif, arial;
}

.color {
  display: inline-block;
  border: black solid 1px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.color:nth-child( 1 ) {
  background-color: black;
}

.color:nth-child( 2 ) {
  background-color: red;
}

.color:nth-child( 3 ) {
  background-color: green;
}

.color:nth-child( 4 ) {
  background-color: blue;
}

#pixel-board {
  line-height: 0;
  border: black solid 1px;
  width: max-content;
}

.pixel {
  display: inline-block;
  color: white;
  border: black solid 1px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#clear-board {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}
